[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

pelican = "==3.7.1"
markdown = "*"
"bs4" = "*"
"httplib2" = "*"


[requires]

python_version = "2.7"
